@font-face {
font-family: Dense;
src: url('fonts/Sansation_Light.otf');
}

@font-face {
font-family: Type;
src: url('fonts/EuropeUnderground_light.ttf');
}

body {
	font-family: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

#thing .isotope-item:hover { 
	z-index: 10; 
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.album_cover_image {
	width: 100%;
}

.album_desc_container {
	display: none;
	/*background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, 1) 10%);*/
	background: white;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 100;
	position: relative;
	/*left: 0.5em;*/
	width: 100%;
	min-width: 150px;
	top: 42em;
	height: auto;
	/*padding-top: 25px;*/
}

.album_desc_content {
	position: relative;
	padding: 1em 4em;
	/*left: 0;*/
}

.album_desc_title {
	position: relative;
	padding-top: 1em;
}

.album_object {
	position: relative;
	left: 25%;
	padding-top: 4em;
	padding-bottom: 4em;
	width: 50%;
}

.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 130%;
  z-index: -1;
	
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

#blog_padding {
	position: absolute;
	border: 1px solid black;
	padding: 5em;
	width: 21%;
	left: 34%;
	top: 22%;
	background-color: rgba(0,0,0,.2);
	text-align: center;
}



#blog_submit_form {
	border-style: none;
	position: relative;
	left: 25%;
	top: 25%;
	height: 10em;
	width: 50%;
	resize: none;
}

#blog_submit_header {
	font-family: Dense;
	color: white;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: .2em;
	position: relative;
	text-align: center;
	top: 4em;
	z-index: 2;
	/*left: 50%;
	/*width: 40%;*/
}

#blog_submit_background {
    /*background: rgba(21,177,237,0.5);*/
    /*background: #B15553;*/
    /*background: #E0E0E0;*/
    background: black;
    width: 54%;
    height: 25em;
    position: absolute;
    min-width: 50%;
    top: 17%;
    left: 23%;
}

#button_center_form {
	position: relative;
	margin-top: 3px;
	top: 30%;
	/*text-align: center;*/
	right: 3em;
}

#top {
	position: absolute;
	top: 0;
}

#center {
	position: static;
	padding: 2em;
	width: 10.5em;
	text-align: center;
	margin: 18em auto 0;
	top: 25%;
	background-color: rgba(0,0,0,9);
	-webkit-box-shadow: 10px 10px 53px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 53px -3px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 53px -3px rgba(0,0,0,0.75);
}

#center div {
	font-family: Dense;
	font-size: 8em;
	font-weight: 900;
	color: rgba(21,177,237, .9);
	border: 4px double white;
}

#check {	
	position: absolute;
	left: 18%;
	margin-bottom: 1em;
	font-size: 1em;
}

#chevron_left {
	font-weight: 100;
	font-size: 5em;
	position: relative;
	bottom: .5em;
	left: 10%;

}

#chevron_right {
	font-weight: 100;
	font-size: 5em;
	position: relative;
	bottom: .5em;
	left: 80%;
}

#chevron_right_first_post {
	font-weight: 100;
	font-size: 5em;
	position: relative;
	bottom: .5em;
	left: 82.9%;
}

#chevron_left:hover, #chevron_right:hover, #chevron_right_first_post:hover{
	color: #15B1ED;
	cursor: pointer;
}

#color_black {
	background: black;
}

#color_nav_bar {
	background: #15B1ED;
}

#expand_navbar {
	display: inline;
	position: fixed;
	cursor: pointer;
	top: 0;
	left: .3em;
}

#hover_area {
	width: 5em;
	height: 4em;
}

#small_nav {
	position: fixed;
	top: 3em;
	left: 0;
	width: 16em;
	background: rgba(255,246,255, .9);
	padding: 1.25em;
	-webkit-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	-moz-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	display: none;
}

#small_nav li {
	width: 100%;
	position: relative;
	padding-bottom: .5em;
	border-bottom: 1px solid black;
}

#small_nav :nth-child(5) {
	border-bottom: 0px solid black;
}

#minus {
	display: none;
	position: relative;
	top: .07em;
	right: .45em;
	cursor: pointer;
}

#minus:hover {
	color: white;
}

#navbar #small_nav li {
	position: relative;
	display: inline;
	list-style-type: none;
	float: left;
	padding-top: .7em;
	
	font-family: Dense;
	font-size: 2em;
	bottom: 5px;
}

#navbar li a {
	/*text-decoration: none;*/
	/*color: black;*/
	letter-spacing: .25em;
	/*color: #211B20;*/
	padding: 1em;
	
}


#navbar > li:nth-child(2) {
	padding-right: 0;
	margin-right: 0;
}

/*#navbar li a:hover{
	width: 90%;
	color: #15B1ED;
}*/

#navbar_gradient {
    background: #15B1ED;
    width: 100%;
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

#container {
	position: relative;
	/*left: 0;*/
	top: 2em;
	border: 2px solid;
	height: auto;
	background: white;
}

#container ul {
	position: relative;
	padding-left: .1em;
}

.photo {
  width: 31%;
  min-width: 200px;
  /*margin: 1px;*/
  padding: 6px;
  /*float: left;*/
}

.photo.double {
  width: 480px;
}

.photo.large {
  width: 97%;
  z-index: 3;
}

.photo.large .small-image,
.photo .big-image { display: none; }


/*.photo .small-image,
.photo.large .big-image { display: block; }*/

.photo img {
  display: block;
  width: 100%;
}

.photo .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: hsla( 0, 0%, 100%, 0.7 );
}

.photo .loading span {
  position: absolute;
  left: 50%;
  top: 50%;
}

.photo .loading img {
  width: auto;
  position: absolute;
  left: -16px;
  top: -16px;
}

#plus {
	position: relative;
	top: .07em;
	right: .45em;
	cursor: pointer;
}

#plus:hover {
	color: white;
}

.blog_post {
	background-image: -webkit-linear-gradient(top, rgba(153, 153, 153, .2) 0%, rgba(255, 255, 255, 1) 30%);
	font-family: helvetica;
	font-size: 1em;
	font-weight: 100;
	position: absolute;
	left: 0;
	width: 100%;
	min-width: 150px;
	top: 58em;
	height: 36em;
	padding-top: 25px;
}

#post_container {
	position: relative;
	left: 15%;
	width: 70%;
	
	overflow: auto;
	top: 2em;
	height: 26.25em;

}

#post_container img {
	width: 100%;
	height: auto;
}

#post_container::-webkit-scrollbar { 
    /*display: none; */
}

#blog_post_content {
	position: relative;
	width: 100%;
	padding:0;
	top: 2em;
}

#blog_post_title {
	position: relative;
	/*left: 2em;*/
}

#current_post {
	position: absolute;
	top: 0em;
	left: 42%;
}

#nav {
	color: black;
	position: relative;
	top: 6em;
}

.overlay {
    position: relative;
    z-index: 2;
    
    max-width: 28em;
    max-height: 8em;
    bottom: 14em;
    left: 0;
    margin: 0 2em;
    background: rgba(186,198,204,.6);
    opacity: 0;
}

.overlay_border_left {
	position: relative;
	border-top:2px solid black; 
	max-width:50%;
	left: 25%;
}

.overlay_border_right {
	position: relative;
	border-top:2px solid black; 
	max-width:50%;
	left: 25%;
}

.overlay_text {
	font-family: Dense;
	font-size: 1.5em;
	position: absolute;
	color: black;
	text-align: center;
	width: 100%;
	/*left: 20%;*/
	bottom: 30%;
	padding-right: 1em;
	/*margin: 1em 1em;*/
}

.settings {
	display: none;
	position: absolute;
	background: #15B1ED;
	font-size: .75em;
	z-index: 2;
	top: 3em;
	left: 88%;
	height: 10em;
	width: 180px;
	float: none;
}

.settings ul {
	display: block;
}

.settings ul li {
	top: 1em;
	padding-top: .5em;
	padding-left: 0;
	float: right;
}


.sound_title {
	position: relative;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 1.25em;
	padding-bottom: 2em;
	color: black;
	letter-spacing: .25em;
	width: 200px;
	/*text-align: center;*/
	left: 30%;
	/*float: center;*/
}

#stream_album .sound_title {
	position: relative;
	left: 46%;
}

.sounds {
	position: relative;
	top: 8em;
}

.sounds div {
	/*float: left;
	display: block;
	vertical-align: middle;*/
}

#sounds_album_cover {
	position: absolute;
	width: 55%;
	left: 23%;
}

#sounds_album_link {
	position: relative;
	border: 1px solid black;
	/*min-width: 300px;*/
	-webkit-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	-moz-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
}

#sounds_album_pic {
	position: relative;
	/*left: 10%;*/
	padding-top: 6em;
	padding-bottom: 2em;
	width: 80%;
	min-width: 200px;
}

#soundcloud_player {
	position: relative;
	/*width: 100%;*/
	min-width: 300px;
	padding: 2em;
	border: 1px solid black;
	-webkit-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	-moz-box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
	box-shadow: 8px 10px 14px -2px rgba(0,0,0,0.78);
}

.sounds_album_cover_title {
	position: static;
	font-family: sans-serif;
	color: black;
	letter-spacing: .45em;
	z-index: 3;
	width: 178px;
	top: 3em;
	margin: 3em auto -3em;
	/*left: 24%;*/
}

#stream_album {
	position: absolute;
	/*left: 18%;*/
	float: left;
	left: 8%;
	top: 40em;
	width: 73%;
}


#stream {
	display: none;
	position: relative;
	left: 70%;
	max-width: 45%;
}



#sounds_album_cover_position {
	position: relative;
	top: 9em;
	left: 10%;
	max-width: 40%;
}

#symbol {
	color: #211B20;
}

#symbol:hover {
	/*color: blue;*/
	color: #211B20;
	text-decoration: underline;
	cursor: pointer;
}

.tab {
	position: relative;
	left: 1em;
}

#set_covers {
	position: relative;
	display: inline-block;
	/*right: 1em;*/
	/*right: .25em;*/
	top: 3em;
	/*margin-top: 0px;*/

	/*width: 100%;*/
	/*height: 5em;*/
}

#set_covers img{
	z-index: 1;
	width: 30em;

	/*height: 20em;*/


}

.set_photo {
	/*position: absolute;
	float: left;*/
	width: 30em;

}

.thing:hover .overlay {
        opacity: 1;
}

#things {
        position: relative;
        top: 3em;
}

#things img{
    float: left;
    z-index: 1;
    /*max-width: 22.59em;*/
    /*width: 29.88em;*/

    /*width: 33.15%;*/
    border: .1em solid black;
    margin: 0;
    padding: 0;
}

.thing {
	display: inline;
	max-width: 49.9%;
	float: left;
	position: relative;
}

#title_submit_form {
	border-style: none;
	position: relative;
	left: 25%;
	top: 25%;
	height: 2em;
	width: 50%;
	resize: none;
}

.scrolling_options {
	list-style-type: none;
	padding: 2em 2em 2em 2em;
	position: fixed;
	z-index: 9;
	top: 56%;
	right: 0;
	width: 6em;
	line-height: 2.5em;
}

.scroll_background {
	display: none;
	padding: 2em 2em 2em 2em;
	position: fixed;
	z-index: 9;
	top: 56%;
	right: 0;
	width: 6.5em;
	height: 5em;
	-moz-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	background-color: rgba(255, 255, 255, .7);
}

.scrolling_options li div{
	color: black;
	float: right;
}

.scrolling_options li div i{
	color: #15B1ED;
}

.scroll_options_title {
	color: black;
	font-family: Dense;
	font-size: 1.5em;
	letter-spacing: .3em;
	text-decoration: none;
	position: relative;
	right: .5em;
	bottom: .1em;
	/*display: none;*/
}

#white {
	background: white;
}

.contact_position {
	display: none;
	position: absolute;
	background-color: rgba(255, 255, 255, .5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contact_position > div {
	position: relative;
	left: 45%;
	margin-left: -7em;
	top: 7em;
	width: 65%;
}

.contact_position h1 {
	padding: .5em;
	font-family: Dense;
	font-size: 2em;
	letter-spacing: 1em;
	text-transform: uppercase;
	font-weight: 100;
	background: black;
	color: white;
	width: 9em;
}

#contact {
	position: relative;
	left: 9%;
	/*float: left;*/
	text-align: center;
	top: 4em;
	width: 25em;
	margin-left: -5em;
	line-height: 3em;
}

#contact_prompt {
	font-family: Dense;
	font-size: 2em;
}

#email {
	display: inline;
	padding-left: .2em;
}

#contact div a{
	/*display: none;*/
	position: relative;
	border-bottom: 1px dashed black;
}

.first_panel #souleader_desc {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 0;
	padding: 1em;
	background: white;
	width: 100%;
	height: auto;
}

.first_panel {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 0;
	padding: 3em;
	background: white;
	width: 100%;
	height: auto;
}

.first_panel.souleader_desc {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 0;
	padding: 0.5em 3em;
	background: white;
	width: 100%;
	height: auto;
}

.first_panel div{
	width: 80%;
	float: left;
	padding-bottom: 1em;
	padding-right: 1.25em;
	border-bottom: 1px solid black;
}


.first_panel h1 {
	padding-bottom: .2em;
	text-shadow: 2px 2px 2px #000;
	width: 3.95em;
	font-family: Dense;
	font-size: 5em;
	letter-spacing: .15em;
	font-weight: 100;
	border-bottom: 1px solid black;
}

.first_panel p {
	position: relative;
	padding-top: 1em;
	font-family: Helvetica Neaue;
}

.first_panel img {
	position: relative;
	padding-top: 0em;
	padding-left: 0em;
	top: 1em;
	margin: 0;
	width: 100%;
	min-width: 0;
	height: auto;
}

.trevransom_second_panel #skills_used_list {
	float: left;
	position: relative;
	left: 45%;
	margin-left: -10em;
	top: 6%;
	padding: .5em;
	border-bottom: 6px double white;
	border-top: 6px double white;
	line-height: 1.75em;
	color: white;
	font-family: Helvetica Neaue;
	font-size: 1.35em;
	letter-spacing: .12em;
}

#skills_used h1 {
	padding: 0 .3em .2em 0;
	width: 2em;
	font-family: Dense;
	font-size: 6em;
	letter-spacing: .15em;
	font-weight: 100;
	line-height: 1.75em;
	border-bottom: 1px solid white;
	border-right: 1px solid white;

}

.souleader_second_panel #skills_used_list {
	float: left;
	position: relative;
	left: 50%;
	margin-left: -10em;
	top: 6%;
	padding: .5em;
	border-bottom: 6px double white;
	border-top: 6px double white;
	line-height: 2.75em;
	color: white;
	font-family: Helvetica Neaue;
	font-size: 1.45em;
	letter-spacing: .1em;
}

.skills_img_solo {
	position: relative;
	top: 9em;
	min-width: 0em;
	width: 100%;
	left: 0;
	margin-left: 0em;
	-moz-border-radius: 10px;
	border-radius: 10px;
	opacity: .95;
}

.souleader_skills_img_solo {
	position: relative;
	top: 9em;
	min-width: 0em;
	width: 100%;
	left: 0;
	margin-left: 0em;
	-moz-border-radius: 10px;
	border-radius: 10px;
	opacity: .95;
}

.souleader_skills_img_small {
	display: none;
}